@tailwind base;
@tailwind components;
@tailwind utilities;

video {
  object-fit: fill;
  object-position: center;
}

/* write css for when  i click the button div should come from right in 3 sec  */

.slide-in {
  transform: translateX(0);
}

.slide-out {
  transform: translateX(100%);
}

.splide__arrow {
  background-color: black;
}

.fade-in {
  opacity: 0;
  transform: translateY(80px);
  animation: fadeInUp 0.8s forwards;
  animation-delay: 0.3s;
}

.fade-initial {
  opacity: 0;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
